body {
  background:transparent;
}

.wpcms-settings-page {
  position:relative;
  max-width:980px;
  padding:15px;
  background:#ffffff;
}

input[type="text"].form-control:focus,
textarea.form-control:focus {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);
}

.wpcms-colorpicker {
  position:relative;
  top:5px;
}

.wpcms-colorpicker .wp-color-result {
  height:22px;
}

.wpcms-colorpicker .wp-color-result:after {
  line-height:20px;
}

#side-sortables .wpcms-field .col-sm-1,
#side-sortables .wpcms-field .col-sm-2,
#side-sortables .wpcms-field .col-sm-3,
#side-sortables .wpcms-field .col-sm-4,
#side-sortables .wpcms-field .col-sm-5,
#side-sortables .wpcms-field .col-sm-6,
#side-sortables .wpcms-field .col-sm-7,
#side-sortables .wpcms-field .col-sm-8,
#side-sortables .wpcms-field .col-sm-9,
#side-sortables .wpcms-field .col-sm-10,
#side-sortables .wpcms-field .col-sm-11,
#side-sortables .wpcms-field .col-sm-12 {
  text-align:left;
  width:100%;
}

.wpcms-buttons,
.wpcms-field {
  position:relative;
  clear:both;
  padding: 15px;
}

.wpcms-field {
  border-bottom:1px solid #ddd;
}

.wpcms-field::after {
  content:'';
  display:block;
  position:relative;
  clear:both;
  height:1px;
}

.wpcms-field.wpcms-separator-field {
  background:#f2f2f2;
}

.wpcms-settings-page .wpcms-field.wpcms-separator-field {
  margin-top:50px;
  margin-bottom:20px;
}

.wpcms-field.wpcms-separator-field::after {
  display:none;
}

.wpcms-field .wpcms-input {
  display: block;
  float: left;
  width: 75%;
}

.wpcms-field .wpcms-label {
  position:relative;
  display: block;
  overflow: hidden;
  float: left;
  width: 23%;
  padding-right:2%;
  font-weight:bold;
}

.wpcms-list-field .wpcms-input .reorder-handle {
  display:hidden;
  opacity:0;
  margin-left: 5px;
  width: 27px;
  height: 27px;
  vertical-align: middle;
  cursor: move;
}

.wpcms-list-field .wpcms-input:hover .reorder-handle {
  opacity:1;
  display:inline-block;
}

.wpcms-dynamic-list-field .form-control {
  margin-bottom: 20px;
}

.wpcms-dynamic-list-field .wpcms-fields-group {
  position: relative;
  display:block;
  clear:both;
  margin-bottom: 5px;
}

.wpcms-dynamic-list-field .wpcms-fields-group textarea {
  display:inline-block;
  width:90%;
}

.wpcms-dynamic-list-field .wpcms-input .reorder-handle {
  display:hidden;
  opacity:0;
  margin-left: 5px;
  width: 27px;
  height: 27px;
  vertical-align: top;
  cursor: move;
}

.wpcms-dynamic-list-field .wpcms-input:hover .reorder-handle {
  opacity:1;
  display:inline-block;
}

.wpcms-dynamic-list-field .wpcms-fields-group label {
  position: absolute;
  right: 100%;
  top: 0;
  padding: 5px;
  width: 200px;
  height: 36px;
  line-height: 18px;
  text-align: right;
  font-weight: bold;
}

.wpcms-radio-field .radio {
  margin-bottom:5px;
}

.wpcms-multi-list-field .form-control {
  position: relative;
  clear:both;
}
.wpcms-multi-list-field .form-control .reorder-handle {
  position: absolute;
  right:-25px;
  top:50%;
  margin-top:-10px;
  cursor:move;
}
.wpcms-multi-list-field .wpcms-label {
  position:relative;
  display: inline-block;
  float: none;
  overflow: hidden;
  padding-right:0%;
  font-weight:bold;
}

.wpcms-multi-list-field .wpcms-input {
  display: inline-block;
  float: none;
  margin: 0;
  box-sizing: border-box;
}