.wpcms-modules-field.wpcms-modules-field-active {
  position: fixed;
  top: 32px;
  left: 0px;
  right:0px;
  bottom:0px;
  margin-left:0px;
  margin-right:0px;
  margin-bottom:0px;
  margin-top:0px;
  width: 100%;
  z-index: 98999; }

.form-horizontal .form-group.wpcms-modules-field.wpcms-modules-field-active {
  margin-left: 0px;
  margin-right: 0px;
}

.wpcms-modules-field.wpcms-modules-field-active .wpcms-modules-field-start-button {
  display: none;
}

.form-group.wpcms-modules-field {
  margin-left:5px;
  margin-right:5px;
}

.modules-field {
  display:none;
  padding:8px;
  border:1px solid #a0a0a0;
  border-radius:7px;
  background:#ededed; }

.wpcms-modules-field.wpcms-modules-field-active .modules-field {
  display:block; }


.modules-field .modules-list {
  background-color:#ffffff;
  width:100%; }

.modules-field .modules-list .wpcms-modules-field-save-button-wrapper {
  padding:10px;
}

.modules-field .modules-list .wpcms-modules-field-save-button-wrapper:after {
  content: 'Available Modules:';
  display:block;
  margin-top:10px;
  line-height:20px;
  border-top:1px solid #ddd;

}

.modules-field .modules-list > .module {
  position:relative;
  overflow:hidden;
  display:block;
  margin:0px;
  cursor:pointer; }

.modules-field .module > .module-inside,
.modules-field .module > .wpcms-modules-field-buttons {
  display:none; }


.module-inside > .module-remove {
  position:absolute;
  right:5px;
  top:5px;
  width:60px;
  height:20px;
  border-radius:3px;
  color:#eee;
  text-transform:uppercase;
  text-align:center;
  background:#202020;
  cursor:pointer; }

.modules-field .modules-list {
  position: absolute;
  overflow:scroll;
  top: 0px;
  right: 0px;
  height: 100%;
  width: 20%;
}

.module > a {
  position:relative;
  display:block;
  cursor:move;
  width:100%;
  transition:all 0.3s ease;
  -moz-transition:all 0.3s ease;
  -webkit-transition:all 0.3s ease; }

.module > a > span {
  position:relative;
  display:block;
  margin:5px 10px;
  text-align: center;
  vertical-align: middle;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  border-radius: 4px;
  background-image: -webkit-linear-gradient(top, #ffffff 0%, #e0e0e0 100%);
  background-image: linear-gradient(to bottom, #ffffff 0%, #e0e0e0 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe0e0e0', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  background-repeat: repeat-x;
  border-color: #dbdbdb;
  text-shadow: 0 1px 0 #fff;
}

.module > a:hover {
  text-decoration:none;
}

.wpcms-modules-field-preview, .wpcms-modules-field-preview > img {
  display:block;
  position:relative;
  width:100%;
  background:#000;
}

.wpcms-modules-field-preview > img {
  max-width:500px;
  margin:0px auto;
}

.wpcms-modules-field-preview:active > div {
  display:block;
  position:fixed;
  z-index:1000;
  left:0px;
  top:0px;
  width:100%;
  height:100%;
  background-position:center;
  background-repeat: no-repeat;
  background-color: #000000;
  background-color: rgba(0,0,0,0.6);
}

.modules-field .modules-list-droppable {
  position: absolute;
  overflow: scroll;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 80%;
  background: #f7f6f5; }

.modules-field .modules-list-droppable > .module {
  display:block;
  position:relative;
  overflow:hidden;
  top: 0px;
  transition:all 0.3s ease;
  -moz-transition:all 0.3s ease;
  -webkit-transition:all 0.3s ease;
}

.modules-field .modules-list-droppable > .module > a > span {
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 6px;
}

.modules-field .modules-list-droppable > .module > .module-inside {
  position:relative;
  overflow:hidden;
  width:100%;
}

.modules-field .modules-list-droppable > .module > .module-inside > h3 {
  border-bottom:0px;
}

.modules-field .modules-list-droppable > .module.module-open {
  margin:50px;
  background:#ffffff;
  border-radius:6px;
  box-shadow:0px 0px 6px #888;
  -webkit-box-shadow:0px 0px 6px #888;
}

.modules-field .modules-list-droppable > .module.module-open > a {
  display:none;
}

.modules-field .modules-list-droppable > .module.module-open > .module-inside {
  display:block;
}

.modules-field .modules-list-droppable > .module > .module-inside .form {
  position:relative;
}

.modules-field .modules-list-droppable > .module > .wpcms-modules-field-buttons {
  position:absolute;
  z-index:5;
  right:0px;
  top:0px;
  height:0px;
  margin:10px 15px;
  text-align:right;
}

.modules-field .modules-list-droppable > .module:hover > .wpcms-modules-field-buttons {
  display:block;
}


.ui-draggable-dragging .module-inside,
.ui-draggable-dragging .wpcms-modules-field-buttons {
  display:none;
}

.module.ui-draggable-dragging > a {
  width:80%;
}


