.multi-select-field { }

.multi-select-field-description {
  margin:5px 0px;
}

.multi-select-field .options-list-sortable,
.multi-select-field .options-list {
  position:relative;
  overflow-y:scroll;
  margin-top:4px;
  padding:5px 0px;
  box-shadow:inset 0px 0px 3px #808080;
  -moz-box-shadow:inset 0px 0px 3px #808080;
  -webkit-box-shadow:inset 0px 0px 3px #808080;
  border-radius:7px;
  background:#ffffff; }

.multi-select-field .options-list-sortable > a,
.multi-select-field .options-list > a {
  position:relative;
  overflow:hidden;
  display:block;
  margin:4px 8px;
  padding:2px 5px;
  height:26px;
  line-height:22px;
  text-overflow:ellipsis;
  white-space:nowrap;
  border-radius:4px;
  background:#eee;
  text-decoration:none; }

.multi-select-field .options-list-sortable > a > span,
.multi-select-field .options-list > a > span {
  position:absolute;
  right:0px;
  top:0px;
  height:100%;
  padding:0px 5px;
  line-height:12px;
  font-size:11px;
  text-align:right;
  background:#ffffff;
  background:rgba(255, 255, 255, 0.5); }


.multi-select-field .options-list-sortable > a:hover,
.multi-select-field .options-list > a:hover {
  background:#ededed; }

.multi-select-field .options-list-sortable > a.selected,
.multi-select-field .options-list > a.selected {
  background:#a0a0a0; }

.multi-select-field .options-list-sortable > a.selected:hover,
.multi-select-field .options-list > a.selected:hover {
  background:#b0b0b0; }
